*{
    padding: 0;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
}

header {
    display: flex;
    flex-direction: column;
    height: 18vh;
    width:100vw;
    position: fixed;
    background: white;
    box-shadow: 0 3px 12px 1px rgba(0,0,0,.13);
}


.upper-header {
    display: flex;
    flex-direction: row;
    width:100vw;
    height: 7vh;
    background-color: #292929;
}

.lower-header {
    display: flex;
    flex-direction: row;
    width:100vw;
    height:100%;
}



article {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    margin-top:10vh;
}

.logo {
    width:40vw;
    padding-left: 7vw;
    padding-top:1vh;
}

.language-contaier {
    display: flex;
    flex-direction: row;
    margin-left:5vw;
}

.lang-submit {
    background: none;
    border:none;
    color: #bababa;
    font-weight: bold;
    font-family: PTSansCaption-Bold,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1;
    margin-right: 1vw;
    margin-top:2px;
}

.lang-submit:hover {
    cursor: pointer;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:1vw;
    height:100%;
}

.nav-button {
    border: none;
    background: none;
    height:100%;
    font-weight: 500;
    padding-right: 1vw;
    color:#005fa9;
    font-size: 14px;
}

.nav-button:hover {
    cursor: pointer;
    color:black;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    width:30vw;
}

.addDepartmentForm {
    display: flex;
    flex-direction: column;
    margin-left:2vw;
}

input[type="text"], textarea {
    margin: 1vw;
    border: 1px solid #02abed;

}

input[type="text"], input[type="submit"] {
    height: 6vh;
}

.input-file-container {
    position: relative;
    width: 225px;
}
.js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}

.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}