*{
    padding: 0;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
}

header {
    display: flex;
    flex-direction: column;
    height: 18vh;
    width:100vw;
    position: fixed;
    background: white;
    box-shadow: 0 3px 12px 1px rgba(0,0,0,.13);
}


.upper-header {
    display: flex;
    flex-direction: row;
    width:100vw;
    height: 7vh;
    background-color: #292929;
}

.lower-header {
    display: flex;
    flex-direction: row;
    width:100vw;
    height:100%;
}



article {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    margin-top:10vh;
}

.logo {
    width:40vw;
    padding-left: 7vw;
    padding-top:1vh;
}

.language-contaier {
    display: flex;
    flex-direction: row;
    margin-left:5vw;
}

.lang-submit {
    background: none;
    border:none;
    color: #bababa;
    font-weight: bold;
    font-family: PTSansCaption-Bold,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1;
    margin-right: 1vw;
    margin-top:2px;
}

.lang-submit:hover {
    cursor: pointer;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:1vw;
    height:100%;
}

.nav-button {
    border: none;
    background: none;
    height:100%;
    font-weight: 500;
    padding-right: 1vw;
    color:#005fa9;
    font-size: 14px;
}

.nav-button:hover {
    cursor: pointer;
    color:black;
}


.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    width:30vw;
}


input[type="text"], textarea {
    margin: 1vw;
    border: 1px solid #02abed;
    width: 25vw;

}

input[type="text"], input[type="submit"] {
    height: 6vh;
}

.schedule-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top:17vh;
    background-image: url("../img/img1.jpg");
    height: 30vh;
    background-size: cover;
    background-position-y: -10vh;
}

.active-appointments {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width:100vw;
    min-height: 40vh;
    height: auto;
    background-color: #292929;
}

.active-appointment {
    font-weight: bold;
    padding-left: 2vw;
    display: flex;
    margin: 2vw;
    flex-direction: column;
    background-color: white;
    flex: 0 0 35vw;
    height: 20vh;
    border:2px solid rgb(0, 174, 255);
}

.full-date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}
.doc-name {
    display: flex;
    width: 20vw;
}


.doc-specialization {
    margin-bottom: 1vh;
}

.active-appointment input[type="submit"] {
    border: none;
    background-color: rgb(0, 174, 255);
    width: 10vw;
    margin-left: 22vw;
}

.active-appointment input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ff8800;
}

.free-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}